{% extends "base.html" %}

{% block title %}Connexion - LegalHub{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block" style="background: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp') no-repeat center center; background-size: cover;">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                            </div>
                            <form class="user" method="post" action="/login">
                                <div class="form-group">
                                    <input type="email" id="emailInput" name="email" class="form-control form-control-user"
                                        aria-describedby="emailHelp"
                                        placeholder="Entrez l'adresse e-mail..." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="passwordInput" name="password" class="form-control form-control-user"
                                        placeholder="Mot de passe" required>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
                                    </div>
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endif %}
                                </div>
                                <button type="submit" class="btn btn-google btn-user btn-block">
                                    Se connecter
                                </button>
                                <hr>
                                <a href="/auth/google" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Connexion avec Google
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}